// Define variables for your color scheme

// For example:
$orange: #F58343;
$black: #000000;
$white: #E5E5E5;
$light-gray: #f7f7f7;
$gray: #292b2c;
$blue: #0275d8;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;
