.homescreen {
  background-color: $light-gray;};

.find {
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 191px;
  /* identical to box height */
  text-align: left;
  text-transform: uppercase;
  color: #333333;
  }

  .near {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 1px;
  /* identical to box height */
  text-align: left;
  text-transform: uppercase;
  color: #333333;
  text-indent: 5%;
  margin-bottom: 85px;
  }

.lower-line {
  border: 1px solid #FFFFFF;
  transform: rotate(0.06deg);
  }

.upper-line {
  border: 1px solid #FFFFFF;
  transform: rotate(0.06deg);
  }

.homecard-container{
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto 0;
  display: flex;
  padding-top: 20px;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba($color: #f7f7f7, $alpha: 0.8);
  margin-top: 40px;
  border-radius: 10px;
  }


  .copy {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 35px;
text-transform: uppercase;
flex: 12 1 auto;
color: black;
margin: 0;
}

.numbers {
font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 90px;
line-height: 180px;
flex: 1 1 auto;
padding: 10px;
text-transform: uppercase;
color: #F58343;
margin-bottom: 0;
}

.wrapper {
	display: flex;
	flex-flow: row nowrap;
	min-height: 100%;
  border-radius: 3%;
  align-items: center;
}
