// Specific CSS for your home-page
.homescreen {
  background-color: $light-gray;};

.find {
  margin-top: 108px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 146px;
  line-height: 191px;
  /* identical to box height */
  text-align: left;
  text-transform: uppercase;
  color: #333333;
  }

  .near {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 146px;
  line-height: 1px;
  /* identical to box height */
  text-align: left;
  text-transform: uppercase;
  color: #333333;
  text-indent: 5%;
  margin-bottom: 100px;
  }

.lower-line {
  border: 1px solid #FFFFFF;
  transform: rotate(0.06deg);
  }

.upper-line {
  border: 1px solid #FFFFFF;
  transform: rotate(0.06deg);
  }

.network {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 52px;
text-transform: uppercase;

  }

.customers {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 52px;
  text-transform: uppercase;

  color: #000000;
  }

  .bookings {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 52px;
text-transform: uppercase;
color: #000000;
  }

.number1 {
font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 120px;
line-height: 180px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #F58343;

}

.number2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 120px;
line-height: 180px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #F58343;

}

.number3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 120px;
line-height: 180px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #F58343;
}
