<h1>Search chefs results </h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
         <div class="card-trip-infos">
          <div>
            <% @chefs.each do |chef| %>
             <h3><%= chef.nickname %></h3>
             <p><%= chef.description %></p>
            <% end %>
           </div>
            <h2 class="card-trip-pricing">£99.99</h2>
         <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

      </div>
    </div>
</div>
