<% @chefs.each do |chef| %>
<div class="page" style="min-height:75vh;">
  <div class= "container">
    <div class= "container">
      <div class= "row">
        <div class="col-12 col-md-6 col-lg-4">
          <a class="card-link" href="/chefs/id">
            <div class="card">
              <h3><%= chef.nickname %></h3>
              <p><%= chef.description %></p>
              <% end %>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
