<div class="banner" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <h1>Book here!</h1>
                <p>Change your life, learn to have people cook for you.</p>
                <div class="btn btn-primary">
                <%=link_to "Book", new_chef_booking_path(@chef), :class => "btn" %>
              </div>
          </div>
      </div>
    </div>
</div>
