
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1600585152220-90363fe7e115?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070);">
  <div class="container">
    <h1>Book here!</h1>
    <p>Change your life, learn to have people cook for you.</p>
    <a class="btn btn-success" href=" /chefs/:chef_id/bookings/new">Book</a>
  </div>
</div>
