
<div class="container">
  <p class="find">Find chefs</p>
  <br>
  <p class="near"> near you</p>


  <div class="container">
    <form autocomplete="off">
      <div class="finder">
        <div class="finder__outer">
          <div class="finder__inner">
            <div class="finder__icon" ref="icon"></div>
            <input class="finder__input" type="text" name="q" placeholder= "Location" />
          </div>
        </div>
      </div>
    </form>

    <div class="homecard-container">
      <div class="wrapper">
        <p class='numbers'>1275</p>
        <p class='copy'>Chefs in our network</p>
      </div>
      <div class="wrapper">
        <p class='numbers'>1700+</p>
        <p class='copy'>Happy customers</p>
      </div>
      <div class="wrapper">
        <p class='numbers'>323</p>
        <p class='copy'>Bookings made today</p>
      </div>
    </div>
  </div>
</div>






<div class="container">
<div class="homecards">
  <div class="homecard">
  <p class="number1">1275</p>
  <p class="network">CHEFS IN OUR</p>
  <p class="network">NETWORK</p></div>


  <div class="homecard">
  <p class="number2">1700+</p>
  <p class="customers">HAPPY</p>
  <p class="customers"></p>CUSTOMERS</div>



  <div class="homecard">
  <p class="number3">325</p>
  <p class="bookings">BOOKINGS</p>
  <p class="bookings">PER DAY</p>

  </div>
  </div>
