
<!DOCTYPE html>
<html>

<head>
    <title>
        Chef Hub
    </title>
</head>
<div class= 'homescreen'>
<div class = 'flame'>
  <body>
  <h1> Find chefs </h1>
  <h1> In your area </h1>
  <h2> 1275 </h2>
  <p>Chefs in our network</p>
</div>
<div>
  <h2> 1275 </h2>
  <p>Happy Customers</p>
</div>
<div>
  <h2> 1275 </h2>
  <p>Bookings per day</p>
  </body>
</div>
</div>
