.banner1 {
  background-image: url(asset-path("opaque2.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  }


/*   width: 1072px;
  height: 1184px;
  left: -580px;
  top: -210px; */
