.container {
  display: flex;
  margin: 1rem;
}

.col {
  display: flex;
}

.card {
  background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 16px;
}

.card > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
