.banner_profile {
  padding: 0px 0;
  background-image: url("bannerprofile3.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
}

.avatar-large {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 320px;
  left: 80px;
}

.banner-img {
  width: auto;
  height: auto;
}
