.chef-card {
	border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.chef-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pricing{
  text-align: right;
}

.chef-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.chef-card .chef-card-infos {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chef-card-avatar {
  right: 16px;
  top: -75px;
  width: 40px;
  z-index: 1;
}

.chef-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
