.searchbar {
  position: absolute;
  width: 798px;
  height: 165px;
  left: 71px;
  top: 921px;

  background: #FFFFFF;}

  .search_button {
    position: absolute;
    width: 255px;
    height: 94px;
    left: 582px;
    top: 964px;

    background: linear-gradient(90deg, #F48743 0.03%, #F35E41 100.14%);
  }

  .search_word {
    position: absolute;
width: 105px;
height: 43px;
left: 656px;
top: 990px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FCFCFC;

  }
